:root {
    --picture-size: 72px;
    --header-layer: 1;
    --cover-layer: 2;
    --header-height: 77px;
    --menu-width: 33.33333%;
    --resume-left: 75%;
    --resume-right: 25%;

    --link-color: #2079c7;

    --header-background: rgba(255, 255, 255, 0.9);
    --dark-header-background: rgba(0, 0, 0, 0.9);

    --background: white;
    --dark-background: black;

    --text-color: black;
    --dark-text-color: white;

    --svg: black;
    --dark-svg: white;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: auto;
    background-color: var(--background);
    color: var(--text-color);
    transition: background-color 1.0s ease, color 1.0s ease;
}

body.dark {
    background-color: var(--dark-background);
    color: var(--dark-text-color);
}

.home, .collection {
    text-align: center;
}

g {
    transition: transform 0.5s, opacity 0.5s linear;
    transform-origin: -17% 50%;
}

ol, ul {
    font-family: Cabin, sans-serif;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

ul {
    text-align: left;
}

ol li, ul li {
    margin: 10vh 0;
}

ul li {
    font-family: Merriweather, serif;
    margin: 1em 0;
}

li {
    transition: opacity 1.0s ease;
}

li:hover {
    opacity: 1;
}

ol li a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 1.0s ease;
    font-size: 20px;
}

.dark ol li a {
    text-decoration: none;
    color: var(--dark-text-color);
}

header {
    backdrop-filter: blur(12px);
    color: var(--text-color);
    font-family: Cabin, sans-serif;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    position: sticky;
    z-index: var(--header-layer);
    height: var(--header-height);
    transition: background-color 1.0s ease, color 1.0s ease;
    background-color: var(--header-background);
}

header:not(.sticky), header:not(.sticky) + #ws-menu {
    background-color: var(--background);
}

.dark header:not(.sticky), .dark header:not(.sticky) + #ws-menu {
    background-color: var(--dark-background);
}

.dark header {
    color: var(--dark-text-color);
    background-color: var(--dark-header-background);
}

main {
    padding: 48px 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: var(--header-height);
    font-family: Open Sans, sans-serif;
    overflow: hidden;
}

#ws-dark-mode svg.svg:hover {
    transform: scale(1.5);
}

#ws-dark-mode svg.svg:active {
    transform: scale(1.25);
}

svg.svg, path.path {
    fill: var(--svg);
    transition: fill 0.5s ease, transform 0.5s ease;
}

.dark svg.svg, .dark path.path {
    fill: var(--dark-svg);
}

img.profile-picture {
    float: left;
    margin-right: 24px;
    width: var(--picture-size);
    height: var(--picture-size);
}

section p {
    text-align: center;
    font-family: Merriweather, serif;
    line-height: 1.5;
}

li {
    line-height: 1.5;
}

p.date, p.description, li {
    opacity: 0.8;
}

p.date {
    font-family: Open Sans, sans-serif;
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0.5em;
}

.sticky {
    background-color: var(--header-background);
    position: fixed;
    top: 0;
    width: 100%;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.pre, .pre * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.0s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.resume {
    margin: auto;
    max-width: 1000px;
}

.left {
    float: left;
    width: var(--resume-left);
    padding: 1em;
}

.right {
    float: right;
    width: var(--resume-right);
    padding: 1em;
    display: block;
}

.right:nth-child(2) {
    padding: 2.5em 1em 1em 1em;
}

.margin {
    margin-bottom: 2em;
}

p.description {
    text-align: left;
}

span.bold {
    font-weight: bold;
}

#scroll {
    transition: opacity 1.0s ease, margin-top 2.0s ease;
    position: absolute;
    font-family: Merriweather, serif;
    margin-top: 64px;
    opacity: 0.5;
}

#email {
    word-break: break-all;
}

#email.unloaded {
    cursor: pointer;
}

span.italic, #email.unloaded {
    font-style: italic;
}

h1.name {
    text-align: left;
    font-family: Merriweather, serif;
    font-size: 40px;
}

h1.blue-title {
    text-transform: uppercase;
    color: var(--link-color);
    font-weight: bolder;
    margin: 2em 0 1em 0;
}

h2.title {
    font-family: Merriweather, serif;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 0.5em;
}

span.ws-title {
    position: relative;
    top: 25%;
    width: 100%;
    height: var(--header-height);
    text-align: center;
}

#ws-hamburger {
    width: 99px;
    height: var(--header-height);
    left: 0;
    top: 0;
    position: absolute;
    margin-left: 24px;
    cursor: pointer;
}

#ws-dark-mode {
    width: 50px;
    height: var(--header-height);
    right: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
    margin-right: 24px;
    display: flex;
    justify-items: center;
}

#ws-menu {
    backdrop-filter: blur(12px);
    transition: visibility 0.5s linear, opacity 0.5s linear, background-color 1.0s ease, left 1.0s ease;
    background-color: var(--header-background);
    color: var(--text-color);
    position: fixed;
    width: var(--menu-width);
    height: 100%;
    opacity: 0;
    visibility: hidden;
    top: var(--header-height);
    z-index: var(--header-layer);
    left: calc(var(--menu-width) * -1);
}

.dark #ws-menu {
    background-color: var(--dark-header-background);
    color: var(--dark-text-color);
}

#ws-menu p, #ws-menu a {
    text-align: center;
    margin: auto;
}

main a:link, main a:visited {
    color: var(--link-color);
}

@media only screen and (max-width: 500px) {
    span.ws-title {
        display: none;
    }
    p, li, span, h2.title {
        font-size: 3.2vw;
    }
    p.date {
        font-size: 2.4vw;
    }
    h1.blue-title {
        font-size: 3.75vw;
    }
    h1.name {
        font-size: 8vw;
    }
}